html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    display: block;
    width: 360px;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-item{
    width: calc(100% - 48px) / 3;
}